{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}
    <title>InstaClone | Feeds Page</title>

    <style>

        input.sign-up , button.sign-up{
	background: #3897f0;
	width: 120px;
	border: 4px  #3897f0;
	padding: 8px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 25px;
}

        input.sign-up:hover , button.sign-up:hover{
            transform: scale(1.1);
        }


    </style>
</head>
<body>
{% include "navbar2.html" %}

<br>
<br>
<center>

<h1>Hii User, Welcome to Your Feeds Page</h1>

    <div>
        <button type="button" class="sign-up"><a href="/logout" style="text-decoration: none; color: white;">Logout</a></button>
    </div>


    <form method="post" action="/post/">
        {% csrf_token %}
        <input type="submit" class="sign-up" value="Create Post">
    </form>


    {% for post in posts %}


        <h3> Posted by: {{ post.user.username }} </h3>
        <p>[{{ post.created_on }}]</p>
        <img style="display:inline-block; width:350px; height:300px;" src="{{ post.image_url }}" /><br>
        <span  style="display:inline-block;">{{ post.caption }}</span><br/><br/>
        <div style="display:inline-block">
            {{ post.like_count }} likes this
        </div>
        <div style="display:inline-block">
            <form method="POST" action="/like/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
                <input type="submit" class="btn btn-default" value="Unlike">
                {% else %}
                <input type="submit" class="btn btn-default" value="Like">
                {% endif %}
            </form>
        </div>

        <div>
            <form method="POST" action="/comment/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />
                <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
                {{ comment_text }}
                <input type="submit" class="btn-default btn" value="Comment">
            </form>
        </div>

        <div>
            {% for comment in post.comments %}
                <p><b>{{ comment.user.username }} [{{ comment.created_on }}]:</b> {{ comment.comment_text }}</p>
            {% endfor %}
        </div>

    {% endfor %}

</center>

 {% include "footer.html" %}

        {% include "scripts.html" %}
</body>
</html>