<footer class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom footer-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <center>
          <p class="navbar-text">
              Copyright &copy; 2018 - 19 Mukesh Dubey
          </p>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a target="_blank" href="https://mukeshdubeyportfolio.netlify.com/">
                        Made with
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        by Mukesh Dubey
                    </a>
                </li>
            </ul>
            </center>
        </div>
      </div><!-- /.container -->
    </nav>
</footer>